name: Email Action

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 22f3000579@ds.study.iitm.ac.in
        run: echo "Hello, world!"